<h3>Reservation</h3>
<hr>
<br>
<form>
    <div class="form-group">
        <div class="col-md-12">
            <div class="form-group row">
                <label for="flightID" class="col-md-2 control-label">FlightID: </label>
                <div class="col-md-5">
                    <input type="text" id="flightID" value="{{flight.flightID}}" size="50" class="form-control"/>
                </div>
                <br>
                <br>
                <br>
                <label for="numberOfSeats" class="col-md-2 control-label">Number of Passengers: </label>
                <div class="col-md-5">
                    <input type="text" name="numberOfSeats" value="{{flight.numberOfSeats}}" size="50" class="form-control"/>
                </div>
                <br>
                <br>
                <br>
                <label for="totalPrice" class="col-md-2 control-label">Total price: </label>
                <div class="col-md-5">
                    <input type="text" name="totalPrice" value="{{flight.totalPrice}}" size="50" class="form-control" />
                </div>
                <br>
                <br>
                <br>
                <label for="fullName" class="col-md-2 control-label">Full Name: </label>
                <div class="col-md-5">
                    <input  type="text" ng-model="ReserveeName" name="fullname" value="" size="50" class="form-control" placeholder="Please Enter Your Full Name" required=""/>
                </div>
                <br>
                <br>
                <br>
                <label for="phone" class="col-md-2 control-label">Phone: </label>
                <div class="col-md-5">
                    <input type="text"  ng-model="phone" name="phone" value="" size="50" class="form-control" placeholder="Please Enter Your Phone Number" required=""/>
                </div>
                <br>
                <br>
                <br>
                <label for="email" class="col-md-2 control-label">Email: </label>
                <div class="col-md-5">
                    <input type="text" ng-model="email"name="email" value="" size="50" class="form-control" placeholder="Please Enter Your Email" required=""/>
                </div>
                <br>
                <br>
                <br>
                <table class="table">
                    <thead>
                        <tr ng-repeat="passenger in reservation.Passengers">
                            <th>Firstname:<input type="text" value="" size="20" class="form-control" placeholder="Please Enter the Firstname of the Passanger" required=""/></th>
                            <th>Lastname:<input type="text" value="" size="20" class="form-control" placeholder="Please Enter the Lastname of the Passanger" required=""/></th>
                        </tr>
                    </thead>
                </table>
                
                <br>
                <div class="btn pull-right">
                <input type="submit" ng-click="reserveTicket()" class="btn btn-info" value="Reserve Tickets"> 
                </div>
            </div>
        </div>
    </div>
</form>