<form class="navbar-form navbar-left" role="search">
    <div class="form-group" >
        <select name="From" class="form-control" ng-model="origin">
            <option value="AUH">Abu Dhabi - Abu Dhabi International (AUH), United Arab Emirates</option> 
            <option value="ALC">Alicante (ALC), Spain</option> 
            <option value="AMM">Amman - Queen Alia International Airport (AMM), Jordan</option> 
            <option value="AMS">Amsterdam - Amsterdam Airport Schiphol (AMS), Netherlands</option> 
            <option value="ESB">Ankara - Esenboğa International Airport (ESB), Turkey</option> 
            <option value="AYT">Antalya (AYT), Turkey</option> 
            <option value="ANU">Antigua, V.C. Bird International (ANU), Antigua and Barbuda</option> 
            <option value="ATH">Athens - Elefthérios Venizélos International Airport (ATH), Greece</option> 
            <option value="ATL">Atlanta (GA) - Hartsfield Atlanta International Airport (ATL), USA</option> 
            <option value="AKL">Auckland - Auckland International Airport (AKL), New Zealand</option> 
            <option value="BGW">Bagdad - Baghdad International Airport (BGW), Iraq</option> 
            <option value="NAS">Bahamas - Lynden Pindling International Airport (NAS), The Bahamas</option> 
            <option value="BAH">Bahrain - Bahrain International Airport (BAH), Bahrain</option> 
            <option value="BAK">Baku - Heydar Aliyev International Airport (BAK), Azerbaijan</option> 
            <option value="BKO">Bamako - Bamako-Sénou International Airport (BKO), Mali</option> 
            <option value="BLR">Bangalore (BLR), India</option> 
            <option value="BKK">Bangkok, Suvarnabhumi International (BKK), Thailand</option> 
            <option value="BCN">Barcelona (BCN), Spain</option> 
            <option value="BSL">Basel (BSL), Switzerland</option> 
            <option value="PEK">Beijing (PEK), China</option> 
            <option value="BEY">Beirut - Beirut Rafic Hariri International Airport (BEY), Lebanon</option> 
            <option value="BFS">Belfast - Belfast International Airport (BFS), United Kingdom</option> 
            <option value="BEG">Belgrad (Beograd) - Belgrade Nikola Tesla International (BEG), Serbia</option> 
            <option value="BZE">Belize City - Philip S.W.Goldson International (BZE), Belize</option> 
            <option value="BGO">Bergen (BGO), Norway</option> 
            <option value="SXF">Berlin, Schoenefeld (SXF), Germany</option> 
            <option value="TXL">Berlin, Tegel (TXL), Germany</option> 
            <option value="BHX">Birmingham - Birmingham International Airport (BHX), United Kingdom</option> 
            <option value="BOG">Bogota - El Nuevo Dorado International Airport (BOG), Colombia</option> 
            <option value="BOM">Bombay (Mumbai) - Chhatrapati Shivaji International (BOM), India</option> 
            <option value="BSB">Brasilia - President Juscelino Kubitschek International (BSB), Brazil</option> 
            <option value="BTS">Bratislava - M. R. Štefánik Airport (BTS), Slovakia</option> 
            <option value="OTP">Bucharest - Henri Coandă International Airport (OTP), Romania</option> 
            <option value="BUD">Budapest - Budapest Ferihegy International Airport (BUD), Hungary</option> 
            <option value="EZE">Buenos Aires, Ezeiza International Airport (EZE), Argentina</option>
            <option value="CAI">Cairo - Cairo International Airport (CAI), Egypt</option> 
            <option value="CBR">Canberra - Canberra Airport (CBR), Australia</option> 
            <option value="CUN">Cancun (CUN), Mexico</option> 
            <option value="CPT">Cape Town - Cape Town International Airport (CPT), South Africa</option> 
            <option value="CCS">Caracas - Simón Bolívar International Airport (CCS), Venezuela</option> 
            <option value="CHG">Chania (CHQ), Greece</option> 
            <option value="ORD">Chicago (IL), O'Hare International Airport (ORD), USA</option> 
            <option value="KIV">Chisinau - Chişinău International Airport (KIV), Moldova</option> 
            <option value="CMB">Colombo - Bandaranaike International Airport (CMB), Sri Lanka</option> 
            <option value="CPH">Copenhagen - Copenhagen Airport (CPH), Denmark</option>
            <option value="DKR">Dakar - Léopold Sédar Senghor International Airport (DKR), Senegal</option> 
            <option value="DEL">Delhi - Indira Gandhi International Airport (DEL), India</option> 
            <option value="DAC">Dhaka - Zia International Airport (DAC), Bangladesh</option> 
            <option value="DOH">Doha - Doha International Airport (DOH), Qatar</option> 
            <option value="DXB">Dubai - Dubai International Airport (DXB), United Arab Emirates</option> 
            <option value="DUB">Dublin - Dublin International Airport (DUB), Ireland</option> 
            <option value="DBV">Dubrovnik (DBV), Croatia</option> 
            <option value="EDI">Edinburgh - Edinburgh Airport (EDI), Scotland, UK</option> 
            <option value="FAO">Faro (FAO), Portugal</option> 
            <option value="FAE">Faroer - Vágar Airport (FAE), Denmark</option>
            <option value="FLR">Florence (Firenze) - Peretola Airport (FLR), Italy</option> 
            <option value="FDF">Fort de France - Martinique Aimé Césaire International (FDF), Martinique</option> 
            <option value="FRA">Frankfurt/Main - Frankfurt Airport (Rhein-Main-Flughafen) (FRA), Germany</option> 
            <option value="FUE">Fuerteventura (FUE), Spain</option> 
            <option value="GVA">Geneva - Geneva-Cointrin International Airport (GVA), Switzerland</option> 
            <option value="GEO">Georgetown - Cheddi Jagan International Airport (GEO), Guyana</option> 
            <option value="GRU">Sao Paulo - Guarulhos International (GRU), Brazil</option> 
            <option value="GUA">Guatemala City - La Aurora International Airport (GUA), Guatemala</option> 
            <option value="HAN">Hanoi - Noi Bai International Airport (HAN), Vietnam</option>
            <option value="HAV">Havana - José Martí International (HAV), Cuba</option> 
            <option value="HEL">Helsinki - Vantaa (HEL), Finland</option> 
            <option value="HKG">Hong Kong - International Airport (HKG), Hong Kong</option> 
            <option value="HNL">Honolulu (HI) - Honolulu International Airport (HNL), USA</option> 
            <option value="IAH">Houston, TX - George Bush Intercontinental Airport (IAH), USA</option> 
            <option value="IBZ">Ibiza (IBZ), Spain</option> 
            <option value="ICN">Seoul - Incheon International Airport (ICN), South Korea</option> 
            <option value="ISB">Islamabad - Benazir Bhutto International Airport (ISB), Pakistan</option> 
            <option value="IST">Istanbul - Istanbul Atatürk Airport (IST), Turkey</option>
            <option value="CGK">Jakarta - Soekarno-Hatta International (CGK), Indonesia</option>
            <option value="JNB">Johannesburg - OR Tambo International Airport (JNB), South Africa</option> 
            <option value="KTM">Kathmandu - Tribhuvan International Airport (KTM), Nepal</option> 
            <option value="KBP">Kiev - Borispol (KBP), Ukraine</option> 
            <option value="KIN">Kingston - Norman Manley (KIN), Jamaica</option> 
            <option value="KUL">Kuala Lumpur - International Airport (KUL), Malaysia</option> 
            <option value="KWI">Kuwait - Kuwait International (KWI), Kuwait</option> 
            <option value="LOS">Lagos - Murtala Muhammed (LOS), Nigeria</option> 
            <option value="LAS">Las Vegas (NV) (LAS), USA</option> 
            <option value="LIM">Lima - J Chavez International (LIM), Peru</option>
            <option value="LIS">Lisbon - Lisboa (LIS), Portugal</option>
            <option value="LJU">Ljubljana - Brnik (LJU), Slovenia</option> 
            <option value="LHR">London - Heathrow (LHR), United Kingdom</option> 
            <option value="LGW">London - Gatwick (LGW), United Kingdom</option> 
            <option value="STN">London - Stanstead (STN), United Kingdom</option>
            <option value="LAX">Los Angeles (CA) - International (LAX), USA</option> 
            <option value="LUX">Luxembourg (LUX), Luxembourg</option> 
            <option value="MAD">Madrid - Barajas (MAD), Spain</option> 
            <option value="MZG">Makung (MZG), Taiwan</option> 
            <option value="MLE">Male - International (MLE), Maledives</option> 
            <option value="MNL">Manila - Ninoy Aquino International (MNL), Philippines</option>
            <option value="MEL">Melbourne - Tullamarine (MEL), Australia</option> 
            <option value="MEX">Mexico City - Mexico City International Airport (MEX), Mexico</option> 
            <option value="MIA">Miami (FL) (MIA), USA</option> 
            <option value="MXP">Milan - Malpensa (MXP), Italy</option> 
            <option value="MSQ">Minsk, International (MSQ), Belarus</option> 
            <option value="MVD">Montevideo - Carrasco (MVD), Uruguay</option> 
            <option value="SVO">Moscow - Sheremetyevo (SVO), Russia</option> 
            <option value="NBO">Nairobi (NBO), Kenya</option> 
            <option value="JFK">New York - John F. Kennedy (JFK), USA</option>
            <option value="NCE">Nice - Cote D'Azur (NCE), France</option> 
            <option value="OSL">Oslo - Oslo Airport, Gardermoen (OSL), Norway</option> 
            <option value="PTY">Panama City - Tocumen International (PTY), Panama</option> 
            <option value="CDG">Paris - Charles de Gaulle (CDG), France</option> 
            <option value="PNH">Phnom Penh - Pochentong (PNH), Cambodia</option> 
            <option value="TGD">Podgorica (TGD), Montenegro</option> 
            <option value="PRG">Prague - Ruzyne (PRG), Czech Republic</option> 
            <option value="UIO">Quito - Mariscal Sucre International Airport (UIO), Ecuador</option> 
            <option value="RBA">Rabat - Sale (RBA), Morocco</option>
            <option value="KEF">Reykjavik - Keflavik International (KEF), Iceland</option> 
            <option value="GIG">Rio de Janeiro - Galeao (GIG), Brazil</option> 
            <option value="ROM">Rome (ROM), Italy</option> 
            <option value="SFO">San Francisco - International Airport, SA (SFO), USA</option> 
            <option value="SJO">San Jose (SJO), Costa Rica</option> 
            <option value="SAL">San Salvador (SAL), El Salvador</option> 
            <option value="SAO">Sao Paulo (SAO), Brazil</option> 
            <option value="PVG">Shanghai - Pu Dong (PVG), China</option> 
            <option value="SIN">Singapore - Changi (SIN), Singapore</option>
            <option value="SOF">Sofia - Vrazhdebna (SOF), Bulgaria</option> 
            <option value="LED">St. Petersburg (Leningrad) - Pulkovo (LED), Russia</option> 
            <option value="STO">Stockholm (STO), Sweden</option> 
            <option value="SYD">Sydney (SYD), Australia</option> 
            <option value="TPE">Taipei - Chiang Kai Shek (TPE), Taiwan</option> 
            <option value="TLL">Tallinn - Ulemiste (TLL), Estonia</option> 
            <option value="TBS">Tbilisi - Novo Alexeyevka (TBS), Georgia</option> 
            <option value="TLV">Tel Aviv - Ben Gurion International (TLV), Israel</option> 
            <option value="TYO">Tokyo (TYO), Japan</option>
            <option value="YYZ">Toronto - Toronto Pearson International Airport (YYZ), Canada</option> 
            <option value="YVR">Vancouver - Vancouver International (YVR), Canada</option> 
            <option value="WAW">Warsaw - Frédéric Chopin (WAW), Poland</option> 
            <option value="BWI">Washington DC - Baltimore Washington International (BWI), USA</option> 
            <option value="VIE">Wien (Vienna) - Vienna International (VIE), Austria</option> 
            <option value="ZRH">Zurich (Zürich) - Kloten (ZRH), Switzerland</option>
        </select>
        <select name="To" class="form-control" ng-model="destination">
            <option value="null">Any Destination</option>
            <option value="AUH">Abu Dhabi - Abu Dhabi International (AUH), United Arab Emirates</option> 
            <option value="ALC">Alicante (ALC), Spain</option> 
            <option value="AMM">Amman - Queen Alia International Airport (AMM), Jordan</option> 
            <option value="AMS">Amsterdam - Amsterdam Airport Schiphol (AMS), Netherlands</option> 
            <option value="ESB">Ankara - Esenboğa International Airport (ESB), Turkey</option> 
            <option value="AYT">Antalya (AYT), Turkey</option> 
            <option value="ANU">Antigua, V.C. Bird International (ANU), Antigua and Barbuda</option> 
            <option value="ATH">Athens - Elefthérios Venizélos International Airport (ATH), Greece</option> 
            <option value="ATL">Atlanta (GA) - Hartsfield Atlanta International Airport (ATL), USA</option> 
            <option value="AKL">Auckland - Auckland International Airport (AKL), New Zealand</option> 
            <option value="BGW">Bagdad - Baghdad International Airport (BGW), Iraq</option> 
            <option value="NAS">Bahamas - Lynden Pindling International Airport (NAS), The Bahamas</option> 
            <option value="BAH">Bahrain - Bahrain International Airport (BAH), Bahrain</option> 
            <option value="BAK">Baku - Heydar Aliyev International Airport (BAK), Azerbaijan</option> 
            <option value="BKO">Bamako - Bamako-Sénou International Airport (BKO), Mali</option> 
            <option value="BLR">Bangalore (BLR), India</option> 
            <option value="BKK">Bangkok, Suvarnabhumi International (BKK), Thailand</option> 
            <option value="BCN">Barcelona (BCN), Spain</option> 
            <option value="BSL">Basel (BSL), Switzerland</option> 
            <option value="PEK">Beijing (PEK), China</option> 
            <option value="BEY">Beirut - Beirut Rafic Hariri International Airport (BEY), Lebanon</option> 
            <option value="BFS">Belfast - Belfast International Airport (BFS), United Kingdom</option> 
            <option value="BEG">Belgrad (Beograd) - Belgrade Nikola Tesla International (BEG), Serbia</option> 
            <option value="BZE">Belize City - Philip S.W.Goldson International (BZE), Belize</option> 
            <option value="BGO">Bergen (BGO), Norway</option> 
            <option value="SXF">Berlin, Schoenefeld (SXF), Germany</option> 
            <option value="TXL">Berlin, Tegel (TXL), Germany</option> 
            <option value="BHX">Birmingham - Birmingham International Airport (BHX), United Kingdom</option> 
            <option value="BOG">Bogota - El Nuevo Dorado International Airport (BOG), Colombia</option> 
            <option value="BOM">Bombay (Mumbai) - Chhatrapati Shivaji International (BOM), India</option> 
            <option value="BSB">Brasilia - President Juscelino Kubitschek International (BSB), Brazil</option> 
            <option value="BTS">Bratislava - M. R. Štefánik Airport (BTS), Slovakia</option> 
            <option value="OTP">Bucharest - Henri Coandă International Airport (OTP), Romania</option> 
            <option value="BUD">Budapest - Budapest Ferihegy International Airport (BUD), Hungary</option> 
            <option value="EZE">Buenos Aires, Ezeiza International Airport (EZE), Argentina</option>
            <option value="CAI">Cairo - Cairo International Airport (CAI), Egypt</option> 
            <option value="CBR">Canberra - Canberra Airport (CBR), Australia</option> 
            <option value="CUN">Cancun (CUN), Mexico</option> 
            <option value="CPT">Cape Town - Cape Town International Airport (CPT), South Africa</option> 
            <option value="CCS">Caracas - Simón Bolívar International Airport (CCS), Venezuela</option> 
            <option value="CHG">Chania (CHQ), Greece</option> 
            <option value="ORD">Chicago (IL), O'Hare International Airport (ORD), USA</option> 
            <option value="KIV">Chisinau - Chişinău International Airport (KIV), Moldova</option> 
            <option value="CMB">Colombo - Bandaranaike International Airport (CMB), Sri Lanka</option> 
            <option value="CPH">Copenhagen - Copenhagen Airport (CPH), Denmark</option>
            <option value="DKR">Dakar - Léopold Sédar Senghor International Airport (DKR), Senegal</option> 
            <option value="DEL">Delhi - Indira Gandhi International Airport (DEL), India</option> 
            <option value="DAC">Dhaka - Zia International Airport (DAC), Bangladesh</option> 
            <option value="DOH">Doha - Doha International Airport (DOH), Qatar</option> 
            <option value="DXB">Dubai - Dubai International Airport (DXB), United Arab Emirates</option> 
            <option value="DUB">Dublin - Dublin International Airport (DUB), Ireland</option> 
            <option value="DBV">Dubrovnik (DBV), Croatia</option> 
            <option value="EDI">Edinburgh - Edinburgh Airport (EDI), Scotland, UK</option> 
            <option value="FAO">Faro (FAO), Portugal</option> 
            <option value="FAE">Faroer - Vágar Airport (FAE), Denmark</option>
            <option value="FLR">Florence (Firenze) - Peretola Airport (FLR), Italy</option> 
            <option value="FDF">Fort de France - Martinique Aimé Césaire International (FDF), Martinique</option> 
            <option value="FRA">Frankfurt/Main - Frankfurt Airport (Rhein-Main-Flughafen) (FRA), Germany</option> 
            <option value="FUE">Fuerteventura (FUE), Spain</option> 
            <option value="GVA">Geneva - Geneva-Cointrin International Airport (GVA), Switzerland</option> 
            <option value="GEO">Georgetown - Cheddi Jagan International Airport (GEO), Guyana</option> 
            <option value="GRU">Sao Paulo - Guarulhos International (GRU), Brazil</option> 
            <option value="GUA">Guatemala City - La Aurora International Airport (GUA), Guatemala</option> 
            <option value="HAN">Hanoi - Noi Bai International Airport (HAN), Vietnam</option>
            <option value="HAV">Havana - José Martí International (HAV), Cuba</option> 
            <option value="HEL">Helsinki - Vantaa (HEL), Finland</option> 
            <option value="HKG">Hong Kong - International Airport (HKG), Hong Kong</option> 
            <option value="HNL">Honolulu (HI) - Honolulu International Airport (HNL), USA</option> 
            <option value="IAH">Houston, TX - George Bush Intercontinental Airport (IAH), USA</option> 
            <option value="IBZ">Ibiza (IBZ), Spain</option> 
            <option value="ICN">Seoul - Incheon International Airport (ICN), South Korea</option> 
            <option value="ISB">Islamabad - Benazir Bhutto International Airport (ISB), Pakistan</option> 
            <option value="IST">Istanbul - Istanbul Atatürk Airport (IST), Turkey</option>
            <option value="CGK">Jakarta - Soekarno-Hatta International (CGK), Indonesia</option>
            <option value="JNB">Johannesburg - OR Tambo International Airport (JNB), South Africa</option> 
            <option value="KTM">Kathmandu - Tribhuvan International Airport (KTM), Nepal</option> 
            <option value="KBP">Kiev - Borispol (KBP), Ukraine</option> 
            <option value="KIN">Kingston - Norman Manley (KIN), Jamaica</option> 
            <option value="KUL">Kuala Lumpur - International Airport (KUL), Malaysia</option> 
            <option value="KWI">Kuwait - Kuwait International (KWI), Kuwait</option> 
            <option value="LOS">Lagos - Murtala Muhammed (LOS), Nigeria</option> 
            <option value="LAS">Las Vegas (NV) (LAS), USA</option> 
            <option value="LIM">Lima - J Chavez International (LIM), Peru</option>
            <option value="LIS">Lisbon - Lisboa (LIS), Portugal</option>
            <option value="LJU">Ljubljana - Brnik (LJU), Slovenia</option> 
            <option value="LHR">London - Heathrow (LHR), United Kingdom</option> 
            <option value="LGW">London - Gatwick (LGW), United Kingdom</option> 
            <option value="STN">London - Stanstead (STN), United Kingdom</option>
            <option value="LAX">Los Angeles (CA) - International (LAX), USA</option> 
            <option value="LUX">Luxembourg (LUX), Luxembourg</option> 
            <option value="MAD">Madrid - Barajas (MAD), Spain</option> 
            <option value="MZG">Makung (MZG), Taiwan</option> 
            <option value="MLE">Male - International (MLE), Maledives</option> 
            <option value="MNL">Manila - Ninoy Aquino International (MNL), Philippines</option>
            <option value="MEL">Melbourne - Tullamarine (MEL), Australia</option> 
            <option value="MEX">Mexico City - Mexico City International Airport (MEX), Mexico</option> 
            <option value="MIA">Miami (FL) (MIA), USA</option> 
            <option value="MXP">Milan - Malpensa (MXP), Italy</option> 
            <option value="MSQ">Minsk, International (MSQ), Belarus</option> 
            <option value="MVD">Montevideo - Carrasco (MVD), Uruguay</option> 
            <option value="SVO">Moscow - Sheremetyevo (SVO), Russia</option> 
            <option value="NBO">Nairobi (NBO), Kenya</option> 
            <option value="JFK">New York - John F. Kennedy (JFK), USA</option>
            <option value="NCE">Nice - Cote D'Azur (NCE), France</option> 
            <option value="OSL">Oslo - Oslo Airport, Gardermoen (OSL), Norway</option> 
            <option value="PTY">Panama City - Tocumen International (PTY), Panama</option> 
            <option value="CDG">Paris - Charles de Gaulle (CDG), France</option> 
            <option value="PNH">Phnom Penh - Pochentong (PNH), Cambodia</option> 
            <option value="TGD">Podgorica (TGD), Montenegro</option> 
            <option value="PRG">Prague - Ruzyne (PRG), Czech Republic</option> 
            <option value="UIO">Quito - Mariscal Sucre International Airport (UIO), Ecuador</option> 
            <option value="RBA">Rabat - Sale (RBA), Morocco</option>
            <option value="KEF">Reykjavik - Keflavik International (KEF), Iceland</option> 
            <option value="GIG">Rio de Janeiro - Galeao (GIG), Brazil</option> 
            <option value="ROM">Rome (ROM), Italy</option> 
            <option value="SFO">San Francisco - International Airport, SA (SFO), USA</option> 
            <option value="SJO">San Jose (SJO), Costa Rica</option> 
            <option value="SAL">San Salvador (SAL), El Salvador</option> 
            <option value="SAO">Sao Paulo (SAO), Brazil</option> 
            <option value="PVG">Shanghai - Pu Dong (PVG), China</option> 
            <option value="SIN">Singapore - Changi (SIN), Singapore</option>
            <option value="SOF">Sofia - Vrazhdebna (SOF), Bulgaria</option> 
            <option value="LED">St. Petersburg (Leningrad) - Pulkovo (LED), Russia</option> 
            <option value="STO">Stockholm (STO), Sweden</option> 
            <option value="SYD">Sydney (SYD), Australia</option> 
            <option value="TPE">Taipei - Chiang Kai Shek (TPE), Taiwan</option> 
            <option value="TLL">Tallinn - Ulemiste (TLL), Estonia</option> 
            <option value="TBS">Tbilisi - Novo Alexeyevka (TBS), Georgia</option> 
            <option value="TLV">Tel Aviv - Ben Gurion International (TLV), Israel</option> 
            <option value="TYO">Tokyo (TYO), Japan</option>
            <option value="YYZ">Toronto - Toronto Pearson International Airport (YYZ), Canada</option> 
            <option value="YVR">Vancouver - Vancouver International (YVR), Canada</option> 
            <option value="WAW">Warsaw - Frédéric Chopin (WAW), Poland</option> 
            <option value="BWI">Washington DC - Baltimore Washington International (BWI), USA</option> 
            <option value="VIE">Wien (Vienna) - Vienna International (VIE), Austria</option> 
            <option value="ZRH">Zurich (Zürich) - Kloten (ZRH), Switzerland</option>
        </select>
        <input type="date" class="form-control" ng-model="date">
        <input type="text" class="form-control" placeholder="Number of Passengers" ng-model="nop">
        <button type="submit" class="btn btn-default" ng-click="search()">Submit</button>
    </div>
</form>

<table class="table">
    <thead>
    <th>Airline</th>
    <th>Number of Tickets</th>
    <th>Date</th>
    <th>Price</th>
    <th>ID</th>
    <th>Travel Time</th>
    <th>Departure Airport</th>
    <th>Destination Airport</th>
</thead>
<tbody>
    <tr ng-repeat="data in data">
            <td>{{data.airline}} </td>
             <td>{{data.numberOfSeats}} </td>
            <td>{{data.date}} </td>
            <td>{{data.totalPrice}} </td>
            <td>{{data.flightID}} </td>
            <td>{{data.traveltime}} </td>       
            <td>{{data.origin}} </td>
            <td>{{data.destination}} </td>
        </tr>
</tbody>
</table>