<uib-accordion>
    <uib-accordion-group ng-repeat="data in data" heading="{{data.flightID}}" >
            <h5>Airline: {{data.airline}}</h5>
    <br>
    <h5>FlightID: {{data.flightID}}</h5>
    <br>
    <h5>Origin: {{data.origin}}</h5>
    <br>
    <h5>Destination: {{data.destination}}</h5>
    <br>
    <h5>Date: {{data.date}}</h5>
    <br>
    <h5>Flight Time (min): {{data.flightTime}}</h5>
    <br>
    <h5>Number of Seats: {{data.numberOfSeats}}</h5>
    <br>
    <h5>Reservee Name: {{data.ReserveeName}}</h5>
    <br>
    <h4>Name of Passengers:</h4>
    <div ng-repeat="passengers in data.Passengers">
        <h5>Full Name: {{passengers.firstName}} {{passengers.lastName}}</h5>
        <br>
    </div>
    </uib-accordion-group>
</uib-accordion>